.dailyCard{
    text-align: center;
    min-width: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
    white-space: nowrap;
    height: inherit;
    display: block;
}
.dailyCard table, .dailyCard img{
    margin-left: auto;
    margin-right: auto;
}
.dailyCard:first-child{
    border: 2px solid black;
}
td{
    font-size: smaller;
}
.rainimg{
    display: block;
    margin: 0;
    width: 25px !important;
    margin-left: auto;
    margin-right: auto;
}