.dailyCard{
    text-align: center;
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
    white-space: nowrap;
    height: inherit;
}
.dailyCard:first-child{
    border: 2px solid black;
}
td{
    font-size: smaller;
}