.resultDiv{
    cursor: pointer;
    border-top: 1px solid darkgray;
    white-space: wrap;
    word-break: normal; /*Llanfairpwllgwyngyllgogerychwyrndrobwllllantysiliogogogoch*/
}
.resultDiv h6{
    color: var(--bs-primary);
}
.dailyCardContainer{
    display: flex;
    justify-content:space-between;
    overflow-x:auto;
}