@import "tailwindcss";

.darkBG{
    background-color: rgb(15, 0, 55);
    color: white;
}
.lightBG{
    background-color: rgb(107, 223, 255);
}
.weatherBox{
    border-radius: 15px;
    border: 1px solid gray;
    padding: 15px;
    height: fit-content;
}
.tileDiv{
    height: 100%;
    min-height: fit-content;
    max-height: 100%;
}
h1,h4,h5{
    margin: 15px 0 !important;
}